{% extends 'base.html.twig' %}

{% block body %}
	{% include 'QuizzeroQuizBundle::user.layout.html.twig' %}
    <h1>Quiz creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('quizlink_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
