{# src/Quizzero/QuizBundle/Resouces/views/Quiz/show.html.twig #}
{% extends 'QuizzeroQuizBundle::layout.html.twig' %}

{% block header_title %}{{ quiz.title }}{% endblock %}
{% block header_subtitle %}{{ quiz.body }}{% endblock %}
{% block header_image %}{% if quiz.image %}
		{{ asset(['img/upload/', quiz.image]|join) }}
	{% else %}/img/home-bg.jpg{% endif %}{% endblock %}

{% block body %}
    <h2 class="section-heading">Quiz questions:</h2>
        
                
            {% include 'QuizzeroQuizBundle:Question:index.html.twig' with { 'questions': questions } %}
    


    
    
   
{% endblock %}