<div class="col-md-3"><a href="/admin/quiz">Manage quiz</a></div>
<div class="col-md-3"><a href="/">Take a quiz</div>
<div class="col-md-3"><a href="/profile/edit">Edit user profile</div>
<div class="col-md-3"><a href="/logout">Logout</a></div>
