{% extends 'base.html.twig' %}

{% block body %}
	{% include 'QuizzeroQuizBundle::user.layout.html.twig' %}

	<div class="col-md-12">.................................................</div>
    <h1>User result list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Quiz</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                
                <td>{% if result.createdat %}{{ result.createdat|date('Y-m-d H:i:s') }}{% endif %}
				
				</td>
				<td><a href="">
				<a href="{{ path('QuizzeroQuizBundle_user_result_show', { 'id': result.quizSession }) }}">
				{{result.quiz.title}}</a></td>
                				
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
