input[type="text"], textarea{
	max-width: 100%;
	min-width: 100%;
}
.hidden{
	display: none;
}
hr{
	margin-bottom: 20px;
}

.slide{
	display: none;
}

.question_img{
	width: 100%;
}

blockquote{
	color:#000;
	font-size: 24px;
}

input[type="submit"]{
	margin-top:50px;
	width:200px;

}
 input[type="text"],  input[type="email"], input[type="password"] {
	width:100%;
	

}

label{
	margin-left: 5px;
}

#quiz_results,[name="quiz"] .required{
	display:none;
}

form[name="quiz"] label{
width: 97%;
}